<h1>Static Pages</h1>
<h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Quisque elementum congue laoreet.
    In elementum ante vel ullamcorper sollicitudin.

    <div class="class">
        <div class="row">
            <div class="col-6">
                Hello, world
            </div>
            <div class="col-6">
                    Hello, world
            </div>
        </div>
    </div>
</h2>
<p>
    Nulla suscipit, massa quis sodales vulputate, tellus lectus facilisis ligula,
    quis porttitor neque magna eget massa
    Cras eu quam a sapien ultricies mattis in a nunc.
</p>