@import 'bootstrap';
// comments

body {
    background-color: red;
    color: white;
}

.class {
    background-color: blue;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#id {
    background-image: url('images/ror-rules.png');
}